<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.G3_VolunteerTracker_AndroidVersion">
        <activity
            android:name=".views.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".views.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".views.NewsfeedActivity"
            android:exported="false" />
        <activity
            android:name=".views.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".views.HistoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".views.RecordActivity"
            android:exported="false" />
        <activity
            android:name=".views.RecordUpdateActivity"
            android:exported="false" />
    </application>

</manifest>